<div class="sidenav-container">
  <div class="sidenav-logo">
    <h1>Farmer Market</h1>
  </div>

  <div class="sidenav-user">
    <div>
      <img
        src="https://material.angular.io/assets/img/examples/shiba1.jpg"
        alt=""
        srcset=""
        class="sidenav-user-img"
      />
    </div>

    <div class="sidenav-user-detail">
      <div class="sidenav-user-detail-name">user name</div>
      <div class="sidenav-user-detail-role">user role</div>
    </div>
  </div>

  <mat-nav-list>
    <a mat-list-item routerLink="." *ngFor="let nav of fillerNav">{{ nav }}</a>
  </mat-nav-list>
</div>
