<div class="forgetpasswordcontainer">
  <h1 mat-dialog-title>Forget password ?</h1>
  <mat-dialog-content class="mat-typography">
    <p>
      Please provide your email address
    </p>
    <p>and we will send you a link in ur email</p>
    <mat-error *ngIf="message">
      {{ message }}
    </mat-error>
    <mat-error *ngIf="error">
      {{ error }}
    </mat-error>
    <mat-form-field appearance="fill">
      <mat-label>Enter your email</mat-label>
      <input
        matInput
        placeholder="farmer@farmer.com"
        [formControl]="forgetEmailControl"
        required
      />

      <mat-error
        *ngIf="
          forgetEmailControl.hasError('email') &&
          !forgetEmailControl.hasError('required')
        "
      >
        Please enter a valid email address
      </mat-error>
      <mat-error *ngIf="forgetEmailControl.hasError('required')">
        Email is <strong>required</strong>
      </mat-error>
    </mat-form-field>
  </mat-dialog-content>
  <mat-dialog-actions align="end">
    <button mat-button mat-dialog-close>Cancel</button>
    <button
      mat-button
      (click)="onForgetPassword()"
      [disabled]="!forgetEmailControl.valid"
    >
      Submit
    </button>
  </mat-dialog-actions>
</div>
