<div class="grid-container">
  <mat-grid-list cols="4" rowHeight="175px">
    <mat-grid-tile
      *ngFor="let card of cards | async"
      [colspan]="card.cols"
      [rowspan]="card.rows"
    >
      <mat-card [ngClass]="['dashboard-card', card.classname]">
        <mat-card-header>
          <mat-card-title>
            {{ card.title }}
          </mat-card-title>
        </mat-card-header>
        <mat-card-content class="dashboard-card-content">
          <mat-icon class="new-orders-bg-img">{{ card.bg_icon_name }}</mat-icon>

          <div *ngIf="card.title == 'New Orders'">
            20 new orders
            <mat-progress-bar mode="determinate" value="40"></mat-progress-bar>
          </div>
          <div *ngIf="card.title == 'Earnings'">
            $100 total earnings
            <mat-progress-bar mode="determinate" value="70"></mat-progress-bar>
          </div>
          <div *ngIf="card.title == 'Orders'">200 orders so far</div>
          <div *ngIf="card.title == 'Returns'">
            2 Returns
            <mat-progress-bar
              mode="determinate"
              value="10"
              color="warn"
            ></mat-progress-bar>
          </div>

          <!-- order list table card  -->
          <div *ngIf="card.title == 'Orders List'">
            <orders-table></orders-table>
          </div>
          <!-- order list table card  -->

          <!-- order list table card  -->
          <div *ngIf="card.title == 'Product Inventory'">
            <app-products-table></app-products-table>
          </div>
          <!-- order list table card  -->
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>
  </mat-grid-list>
</div>
