<div class="order-table-container">
  <mat-form-field class="filter-form">
    <mat-label>Filter</mat-label>
    <input
      matInput
      (keyup)="applyFilter($event)"
      placeholder="Ex. Abebe Bikila"
      #input
    />
  </mat-form-field>
  <table
    mat-table
    [dataSource]="sortedData"
    matSort
    (matSortChange)="sortData($event)"
  >
    <!-- Customer Name Column -->
    <ng-container matColumnDef="cust_name">
      <th mat-header-cell *matHeaderCellDef mat-sort-header="cust_name">
        Customer Name
      </th>
      <td mat-cell *matCellDef="let element">{{ element.position }}</td>
    </ng-container>

    <!-- order_number Column -->
    <ng-container matColumnDef="order_number">
      <th mat-header-cell *matHeaderCellDef mat-sort-header="order_number">
        Order No
      </th>
      <td mat-cell *matCellDef="let element">{{ element.name }}</td>
    </ng-container>

    <!-- status Column -->
    <ng-container matColumnDef="status">
      <th mat-header-cell *matHeaderCellDef mat-sort-header="status">Status</th>
      <td mat-cell *matCellDef="let element">{{ element.weight }}</td>
    </ng-container>

    <!-- amount Column -->
    <ng-container matColumnDef="amount">
      <th mat-header-cell *matHeaderCellDef mat-sort-header="amount">Amount</th>
      <td mat-cell *matCellDef="let element">{{ element.symbol }}</td>
    </ng-container>

    <!--add course button -->
    <ng-container matColumnDef="detailaction">
      <th mat-header-cell *matHeaderCellDef>
        Details
      </th>
      <td mat-cell *matCellDef="let row">
        <button
          mat-stroked-button
          color="primary"
          (click)="openOrderDetailDialog(row)"
        >
          Detail
        </button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>

  <mat-paginator
    showFirstLastButtons
    [length]="20"
    [pageSize]="5"
  ></mat-paginator>
  <!-- [pageSizeOptions]="[5, 10, 25, 100]" -->
</div>
