body {
  margin: 0;
  padding: 0;
  background-color: #7e8e9e;
  min-height: 100vh;
}
.login-card {
  overflow: hidden;
  top: 50%;
  min-width: 50%;
  position: absolute;
  transform: translateY(-50%);
  left: 120px;
  right: 120px;
  min-height: 70vh;
  text-align: center;
  border-radius: 25px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  padding: 0%;
}
mat-grid-tile {
  background: lightblue;
  padding: 0;
}
