<body>
  <mat-card class="register-card">
    <mat-grid-list cols="4" rowHeight="70vh">
      <mat-grid-tile colspan="2">
        <form
          [formGroup]="sign_up_form"
          (ngSubmit)="onsignUp()"
          class="register-form"
        >
          <p>Please enter your email and password</p>
          <p>
            <mat-form-field
              appearance="outline"
              class="register-form-full-width"
            >
              <mat-label>Enter your email</mat-label>
              <input
                matInput
                placeholder="Ex. email@example.com"
                formControlName="email"
              />
              <mat-icon matSuffix>email</mat-icon>

              <mat-error
                *ngIf="
                  sign_up_form.get('email').hasError('email') &&
                  !sign_up_form.get('email').hasError('required')
                "
              >
                Please enter a valid email address
              </mat-error>
              <mat-error *ngIf="sign_up_form.get('email').hasError('required')">
                Email is <strong>required</strong>
              </mat-error>
            </mat-form-field>
          </p>
          <p>
            <mat-form-field
              appearance="outline"
              class="register-form-full-width"
            >
              <mat-label>Enter your password</mat-label>
              <input
                matInput
                [type]="hide ? 'password' : 'text'"
                formControlName="password"
              />
              <button
                mat-icon-button
                matSuffix
                (click)="hide = !hide"
                [attr.aria-label]="'Hide password'"
                [attr.aria-pressed]="hide"
              >
                <mat-icon>{{
                  hide ? "visibility_off" : "visibility"
                }}</mat-icon>
              </button>

              <mat-error
                *ngIf="sign_up_form.get('password').hasError('required')"
              >
                Email is <strong>required</strong>
              </mat-error>
            </mat-form-field>
          </p>
          <button mat-flat-button color="primary" type="submit">
            register
          </button>
        </form>
      </mat-grid-tile>

      <mat-grid-tile colspan="2" class="register-panel-right">
        Welcome to Farmer market
        <mat-icon>market</mat-icon>
      </mat-grid-tile>
    </mat-grid-list>
  </mat-card>
</body>
