table {
  width: 100%;
}
.mat-elevation-z8 {
  box-shadow: none;
}
th.mat-sort-header-sorted {
  color: black;
}
.productlist-table-container {
  position: relative;
  max-height: 425px;
  overflow: auto;
}
.filter-form {
  float: right;
  text-align: right;
  font-size: 14px;
  color: black;
}
.product-img {
  width: 80px;
  border-radius: 50% !important;
}
