<div class="productlist-table-container">
  <mat-form-field class="filter-form">
    <mat-label>Filter</mat-label>
    <input
      matInput
      (keyup)="applyFilter($event)"
      placeholder="Ex. Abebe Bikila"
      #input
    />
  </mat-form-field>
  <table
    mat-table
    [dataSource]="sortedData"
    matSort
    (matSortChange)="sortData($event)"
  >
    <!-- Position Column -->
    <ng-container matColumnDef="photo">
      <th mat-header-cell *matHeaderCellDef mat-sort-header="position">
        photo
      </th>
      <td mat-cell *matCellDef="let element">
        <img
          alt="image"
          class="product-img"
          width="40"
          height="50"
          [src]="imageDomeSantizer(element.photo)"
        />
      </td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef mat-sort-header="name">Name</th>
      <td mat-cell *matCellDef="let element">{{ element.name }}</td>
    </ng-container>

    <!-- Weight Column -->
    <ng-container matColumnDef="price">
      <th mat-header-cell *matHeaderCellDef mat-sort-header="price">Price</th>
      <td mat-cell *matCellDef="let element">{{ element.price }}</td>
    </ng-container>

    <!-- Symbol Column -->
    <ng-container matColumnDef="quantity">
      <th mat-header-cell *matHeaderCellDef mat-sort-header="quantity">
        Quantity
      </th>
      <td mat-cell *matCellDef="let element">{{ element.quantity }}</td>
    </ng-container>

    <!--add course button -->
    <ng-container matColumnDef="addproduct">
      <th mat-header-cell *matHeaderCellDef>
        <button
          mat-mini-fab
          color="primary"
          (click)="addProductDialog()"
          matTooltip="Add Product"
        >
          <mat-icon>add</mat-icon>
        </button>
      </th>
      <td mat-cell *matCellDef="let row"></td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>

  <mat-paginator
    showFirstLastButtons
    [pageSizeOptions]="[5, 8]"
  ></mat-paginator>
  <!-- [pageSizeOptions]="[5, 10, 25, 100]" -->
</div>
