body {
  margin: 0;
  padding: 0;
  background-color: #7e8e9e;
  min-height: 100vh;
  font-size: 1rem;
}
.register-card {
  overflow: hidden;
  top: 50%;
  min-width: 50%;
  position: absolute;
  transform: translateY(-50%);
  left: 120px;
  right: 120px;
  min-height: 70vh;
  text-align: center;
  border-radius: 25px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  padding: 0%;
}
mat-grid-tile {
  /* background: linear-gradient(#7e8e9e); */
}
.register-panel-right {
  background-image: url(https://cdn.pixabay.com/photo/2014/08/24/06/04/fruit-426002_960_720.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.register-form {
  min-width: 150px;
  max-width: 400px;
  width: 100%;
  padding: 0%;
}
.register-form-full-width {
  width: 100%;
  padding: 0%;
}
td {
  padding: 8px;
}
