<body>
  <mat-card class="register-card">
    <mat-grid-list cols="4" rowHeight="70vh">
      <mat-grid-tile colspan="2">
        <form
          [formGroup]="reset_password_form"
          (ngSubmit)="onResetPassword()"
          class="register-form"
        >
          <h2><strong>Reset Password Form</strong></h2>
          <p>
            <mat-error *ngIf="error">
              {{ error }}
            </mat-error>
          </p>
          <table class="register-form-full-width" cellspacing="0">
            <tr></tr>
          </table>

          <p>
            <mat-form-field
              appearance="outline"
              class="register-form-full-width"
            >
              <mat-label>Create new password</mat-label>
              <input
                matInput
                [type]="hide ? 'password' : 'text'"
                formControlName="password"
              />
              <button
                mat-icon-button
                matSuffix
                (click)="hide = !hide"
                [attr.aria-label]="'Hide password'"
                [attr.aria-pressed]="hide"
              >
                <mat-icon>{{
                  hide ? "visibility_off" : "visibility"
                }}</mat-icon>
              </button>

              <mat-error
                *ngIf="reset_password_form.get('password').hasError('required')"
              >
                Password is <strong>required</strong>
              </mat-error>
            </mat-form-field>
          </p>
          <p>
            <mat-form-field
              appearance="outline"
              class="register-form-full-width"
            >
              <mat-label>Confirm password</mat-label>
              <input
                matInput
                [type]="hide ? 'password' : 'text'"
                formControlName="confirmpassword"
              />
              <button
                mat-icon-button
                matSuffix
                (click)="hide = !hide"
                [attr.aria-label]="'Hide password'"
                [attr.aria-pressed]="hide"
              >
                <mat-icon>{{
                  hide ? "visibility_off" : "visibility"
                }}</mat-icon>
              </button>

              <mat-error
                *ngIf="
                  reset_password_form
                    .get('confirmpassword')
                    .hasError('required')
                "
              >
                Confirm password is <strong>required</strong>
              </mat-error>
              <mat-error
                *ngIf="
                  reset_password_form
                    .get('confirmpassword')
                    .hasError('invalid') &&
                  !reset_password_form
                    .get('confirmpassword')
                    .hasError('required')
                "
              >
                Password <strong>do not match</strong>
              </mat-error>
            </mat-form-field>
          </p>

          <button
            mat-flat-button
            color="primary"
            type="submit"
            [disabled]="!reset_password_form.valid"
          >
            Submit
          </button>

          <div style="padding-top: 70px;">
            Goto login ?
            <a [routerLink]="['/login']">Login</a>
          </div>
        </form>
      </mat-grid-tile>

      <mat-grid-tile colspan="2" class="register-panel-right">
        Welcome to Farmer market
        <mat-icon>market</mat-icon>
      </mat-grid-tile>
    </mat-grid-list>
  </mat-card>
</body>
