<div class="sidenav-container">
  <div class="sidenav-logo">
    <h1>Farmer Market</h1>
  </div>

  <div class="sidenav-user">
    <div>
      <img
        src="https://storage.googleapis.com/farmermarket/defaultprofile.png"
        alt=""
        srcset=""
        class="sidenav-user-img"
      />
    </div>

    <div class="sidenav-user-detail">
      <div class="sidenav-user-detail-name">
        {{ profile?.firstname }} {{ profile?.lastname }}
      </div>
      <div class="sidenav-user-detail-role">farmer</div>
    </div>
  </div>

  <mat-nav-list class="sidenav-menu-list">
    <a mat-list-item routerLink="." class="sidenav-menu-list-link">
      New Orders
    </a>
    <a mat-list-item [routerLink]="['/products']" class="sidenav-menu-list-link"
      >Products</a
    >
    <a mat-list-item routerLink="." class="sidenav-menu-list-link"
      >Add Product</a
    >
    <a mat-list-item [routerLink]="['/orders']" class="sidenav-menu-list-link"
      >Orders</a
    >
  </mat-nav-list>
</div>
